<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/equipo/inicio.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active"><img src="icon/logo.png" width="25px" class="animated infinite pulse"> Tecsup</a>
        <a href="/equipo"><img src="icon/football-player-attempting-to-kick-ball.png" width="25px" class="animated infinite pulse"></a>
        <a href="/partido"><img src="icon/football-field.png" width="25px" class="animated infinite pulse"></a>
        <a href="/score"><img src="icon/archery.png" width="25px" class="animated infinite pulse"></a>
        <a href="/sesion"><img src="icon/enter.png" width="25px" class="animated infinite pulse"></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><img src="icon/wrench.png" width="25px" class="animated infinite pulse"></a>
      </div>
      <div class="container equipos">
            <div class="row">
                <div class="col-xs-6 col-md-4 grupoA">
                    <div class="ga">GRUPO A</div>
                    <div class="equipos">
                      <p><img src="img/gA/russia.png"> RUSSIA</p>     
                      <p><img src="img/gA/saudi-arabia.png"> SAUDI ARABIA</p>
                      <p><img src="img/gA/egypt.png"> EGYPTO</p>
                      <p><img src="img/gA/uruguay.png"> URUGUAY</p>
                    </div>
                  </div>
                  <!-- <div class="col-xs-6 col-md-4 center-block">
                      <img src="img/cop2.png" width="200px;">
                  </div> -->
                  <div class="col-xs-6 col-md-4 grupoB">
                    <div class="gb">GRUPO B</div>
                    <div class="equipos">
                      <p><img src="img/gB/portugal.png"> PORTUGAL</p>      
                      <p><img src="img/gB/spain.png"> ESPAÑA</p>
                      <p><img src="img/gB/morocco.png"> MARRUECOS</p>
                      <p><img src="img/gB/iran.png"> IRAN</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4 grupoC">
                    <div class="gc">GRUPO C</div>
                    <div class="equipos">
                      <p><img src="img/gC/france.png"> FRANCIA</p>      
                      <p><img src="img/gC/australia.png"> AUSTRALIA</p>
                      <p><img src="img/gC/peru.png"> PERU</p>
                      <p><img src="img/gC/denmark.png"> DINAMARCA</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4 grupoD">
                    <div class="gd">GRUPO D</div>
                    <div class="equipos">
                      <p><img src="img/gD/argentina.png"> ARGENTINA</p>      
                      <p><img src="img/gD/iceland.png"> ISLANDIA</p>
                      <p><img src="img/gD/croatia.png"> CROACIA</p>
                      <p><img src="img/gD/nigeria.png"> NIGERIA</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4 grupoE">
                    <div class="ge">GRUPO E</div>
                    <div class="equipos">
                      <p><img src="img/gE/brazil.png"> BRASIL</p>      
                      <p><img src="img/gE/madeira.png"> SUIZA</p>
                      <p><img src="img/gE/costa-rica.png"> COSTA RICA</p>
                      <p><img src="img/gE/serbia.png"> SERBIA</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4 grupoF">
                    <div class="gf">GRUPO F</div>
                    <div class="equipos">
                      <p><img src="img/gF/germany.png"> ALEMANIA</p>
                      <p><img src="img/gF/mexico.png"> MEXICO</p>
                      <p><img src="img/gF/sweden.png"> SUECIA</p>
                      <p><img src="img/gF/south-korea.png"> SUR CORREA</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4 grupoG">
                    <div class="gg">GRUPO G</div>
                    <div class="equipos">
                      <p><img src="img/gG/belgium.png"> BELGICA</p>
                      <p><img src="img/gG/panama.png"> PANAMA</p>
                      <p><img src="img/gG/hong-kong.png"> TUNEZ</p>
                      <p><img src="img/gG/england.png"> INGLATERRA</p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4 grupoH">
                    <div class="gh">GRUPO H</div>
                    <div class="equipos">
                      <p><img src="img/gH/monaco.png"> POLONIA</p>
                      <p><img src="img/gH/canary-islands.png"> SENEGAL</p>
                      <p><img src="img/gH/colombia.png"> COLOMBIA</p>
                      <p><img src="img/gH/japan.png"> JAPON</p>
                    </div>
                  </div>
            </div>
        </div>
    <script src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>