<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/animate.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active"><img src="icon/football.png" width="25px" class="animated infinite pulse"> Tecsup</a>
        <a href="/equipo"><img src="icon/football-player-attempting-to-kick-ball.png" width="25px" class="animated infinite pulse"></a>
        <a href="/partido"><img src="icon/football-field.png" width="25px" class="animated infinite pulse"></a>
        <a href="/score"><img src="icon/archery.png" width="25px" class="animated infinite pulse"></a>
        <a href="/sesion"><img src="icon/enter.png" width="25px" class="animated infinite pulse"></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><img src="icon/wrench.png" width="25px" class="animated infinite pulse"></a>
      </div>
      <!--Tabla de encuentros más próximos-->
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">        
   <div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Liga</th>
									<th class="cell100 column2">Equipo</th>
									<th class="cell100 column3">Hora</th>
									<th class="cell100 column4">Equipo</th>
									<th class="cell100 column5">Lugar</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>							
								<tr class="row100 body">
									<td class="cell100 column1">BBVA</td>
									<td class="cell100 column2">Brasil</td>
									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
									<td class="cell100 column4">Argentina</td>
									<td class="cell100 column5">Estadio San CykaBlyat</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Master Card</td>
									<td class="cell100 column2">Chile</td>
									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
									<td class="cell100 column4">Perú</td>
									<td class="cell100 column5">Estadio San Sayus</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">BBVA</td>
									<td class="cell100 column2">Panamá</td>
									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
									<td class="cell100 column4">Colombia</td>
									<td class="cell100 column5">Estadio Olímpico Luzhnikí</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Master Card</td>
									<td class="cell100 column2">España</td>
									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
									<td class="cell100 column4">Portugal</td>
									<td class="cell100 column5">Estadio Olímpico de Sochi</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
          
          
		      </div>
            </div>
          </div>
       <!--Fin de tabla de encuentros más próximos-->

    <script src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>