<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/animate.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active"><img src="icon/football.png" width="25px" class="animated infinite pulse"> Tecsup</a>
        <a href="/equipo"><img src="icon/football-player-attempting-to-kick-ball.png" width="25px" class="animated infinite pulse"></a>
        <a href="/partido"><img src="icon/football-field.png" width="25px" class="animated infinite pulse"></a>
        <a href="/score"><img src="icon/archery.png" width="25px" class="animated infinite pulse"></a>
        <a href="/sesion"><img src="icon/enter.png" width="25px" class="animated infinite pulse"></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><img src="icon/wrench.png" width="25px" class="animated infinite pulse"></a>
      </div>
     
    <script src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>